/* Met le header en Flexbox pour tout aligner sur la même ligne */
.header-cv {
    display: flex;
    justify-content: space-between; /* Pousse le titre à gauche et les boutons à droite */
    align-items: center;
    margin-bottom: 2rem;
}

/* Un peu de style pour les boutons pour faire propre */
.controls button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

.controls button:hover {
    text-decoration: underline;
}

body {
    margin: 2cm auto;
    max-width: 210mm;
    font-family: Verdana, sans-serif;
}

body.dark {
    color: white;
    background-color: black;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

body.dark a {
    color: #0094ff;
}

.fa-telegram {
    color: #30a8dc;
}

.fa-whatsapp {
    color: #25d366;
}

/* --- Typographie multilingue pour les balises <q> --- */

/* Français : Guillemets chevrons avec espace insécable (\00A0) */
q:lang(fr), [lang="fr"] q {
    quotes: "«\00A0" "\00A0»";
}

/* Anglais : Guillemets doubles standards */
q:lang(en), [lang="en"] q {
    quotes: '"' '"';
}